@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7c5df9;
}
.overview::-webkit-scrollbar {
  height: 5px;
  width: 1px;
}

.overview::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.overview::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}
